%% vim: set filetype=erlang:
{ erl_opts, [ debug_info ] }.

{ deps, [] }.

% i like the port compiler and i don't like makeflles
{ plugins, [

	{ pc, { git, "https://github.com/blt/port_compiler.git", { tag, "v1.11.0" } } }

] }.

{ provider_hooks, [

	{ pre, [

		{ compile, { pc, compile } },
		{ clean, { pc, clean } }

	] }

] }.

{ port_env, [

	% this requires 'termbox' to be installed via `brew install termbox` because i am lazy
	{ "darwin", "LDFLAGS", "$LDFLAGS -ltermbox -undefined dynamic_lookup" }

] }.

{ port_specs, [

	% links against libtermbox.a by using -ltermbox in LDFLAGS above
	{ "priv/etbx_core.so", [
		"c_src/etbx_core.c"
	] }
] }.

{ shell, [
    { apps, [ etbx ] }
] }.
